<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/bloodabout.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
</head>
<body>
   <header class="headers">
        <div class="logos">
            <img src="../public/images/p3.png">
            <h3>Blood Donote</h3>
        </div>
        <div class="navber">
            <nav>
                <ul>
                    <li><a href="/blood/home" class="color">Home</a></li>
                    <li><a href="/blood/donorlist">Donor list</a></li>
                    <li><a href="/blood/creatnewdonor">Donote</a></li>
                    <li><a href="/blood/contectus">Contect</a></li>
                    <li><a href="/blood/aboutus">About us</a></li>
                </ul>
            </nav>
        </div>
   </header>
 <main>
     <div class="abouts">
         <div class="about">

        
         <div class="about-header">
            <h1>এক ব্যাগ রক্তদানে বাঁচবে একটি প্রাণ</h1>
         </div>
         <div class="about-text">
              <p>রক্ত ছাড়া কোনো মানুষের জীবন কল্পনাও করা যায় না। কিন্তু, মানবদেহের এই অত্যাবশ্যকীয় উপাদানটির
                কোনো বিকল্প তৈরি করা সম্ভব হয়নি। মুমূর্ষু রোগীকে বাঁচাতে প্রায়ই জরুরিভিত্তিতে রক্ত দেওয়ার প্রয়োজন হয়। শুধু থ্যালাসেমিয়া রোগী নয়, কারো অতিরিক্ত রক্তক্ষরণ, দুর্ঘটনায় আহত, সন্তান প্রসব, অ্যানিমিয়া, হিমোফিলিয়া, অস্ত্রোপচার, 
                রক্তবমি বা পায়খানার সঙ্গে রক্ত গেলেও রোগীর শরীরে রক্ত সঞ্চালনের প্রয়োজন পড়ে</p>
                <h2>তাই আমরা এই প্রক্রিয়াটা কিছুটা ডিজিটাল করার চেষ্টা করছি </h2>
         </div>
        </div>
     </div>
</main>

<footer class="footer">
    <hr>
    <p> © Copyright 2021. All Rights Reserved.
        This site is<br> Powered by <b>Md Shahariar Alom</b></p>
</footer>
</body>
</html>