<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/bloodhome.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
</head>
<body>
   <header class="headers">
        <div class="logos">
            <img src="../public/images/p3.png">
            <h3>Blood Donote</h3>
        </div>
        <div class="navber">
            <nav>
                <ul>
                    <li><a href="/blood/home" class="color">Home</a></li>
                    <li><a href="/blood/donorlist">Donor list</a></li>
                    <li><a href="/blood/creatnewdonor">Donote</a></li>
                    <li><a href="/blood/contectus">Contect</a></li>
                    <li><a href="/blood/aboutus">About us</a></li>
                </ul>
            </nav>
        </div>
   </header>
 <main>
    <section class="presentation">
        <div class="content">
              <div class="content-item">
                  <h2>blood donotion camp</h2>
                  <p>রক্তদান সমাজের জন্য প্রধান উদ্বেগ কারণ দান করা রক্তের প্রয়োজন ব্যক্তিদের জন্য জীবন রক্ষা করা
                    <br><b class="lp">Please join us.....</b>     
                </p>
               
                <a class="btn" href="/blood/creatnewdonor" >Lets Start</a>
              </div>
    
        </div>
         <div class="content-images">
            <img class="content-image" src="../public/images/p1.png">
            <div class="content-back">
    
            </div>
         </div>
        
    </section>

    <section class="documents">
                <div class="document-image">
                     <img src="../public/images/p2.png" width="100%" height="100%"> 
                </div>
                <div class="document-doc1">
                       <h3 class="document-titel">
                        রক্তদান
                       </h3>
                       <h6>
                        উইকিপিডিয়া, মুক্ত বিশ্বকোষ থেকে</h6> 
                             
                       <p class="document-body"> 

                       
                        রক্তদান হল কোন প্রাপ্তবয়স্ক সুস্থ মানুষের স্বেচ্ছায় রক্ত দেবার প্রক্রিয়া। 
                        এই দান করা রক্ত পরিসঞ্চালন করা হয় অথবা অংশীকরণের মাধ্যমে ঔষধে পরিণত করা হয়।
                        
                        উন্নত দেশে বেশিরভাগ রক্তদাতাই হলেন স্বেচ্ছায় রক্তদাতা, যারা সামাজিক দায়বদ্ধতা থেকে রক্তদান করেন।
                        
                        দরিদ্র দেশগুলোতে এ ধরনের প্রতিষ্ঠিত স্বেচ্ছায় রক্তদাতার সংখ্যা বেশ কম, বেশিরভাগ রক্তদাতাই কেবল তাদের পরিচিতজনদের প্রয়োজনে রক্তদান করে থাকেন। বেশির ভাগ রক্তদাতাই সমাজসেবামূলক কাজ হিসেবে রক্তদান করেন, তবে কিছু মানুষ পেশাদার রক্তদাতা, অর্থাৎ তারা অর্থ বা কোন ভাতার বিনিময়ে রক্তদান করে থাকেন। আবার রক্তদাতা তার ভবিষ্যত প্রয়োজনে রক্ত পেতে পারেন। রক্তদান অপেক্ষাকৃত নিরাপদ, তবে কিছু রক্তদাতার যে জায়গায় সূঁচ প্রবেশ করানো হয় সেখানে কালশিরে পড়ে,
                         আবার কেউ কেউ রক্তদানের পর দুর্বলতা অনুভব করে |....   <a href="#">Read more</a>
                         </p>
                       

                </div>
                <div class="document-doc2">
                    <h3 class="document-titel">
                        রক্তদানের উপকারিতা
                    </h3> 
                    <h6>
                        উইকিপিডিয়া, মুক্ত বিশ্বকোষ থেকে</h6>
                             
                    <p class="document-body"> 

                        রক্তদানের প্রথম এবং প্রধান কারণ,একজনের দানকৃত রক্ত আরেকজন মানুষের জীবন বাঁচাবে।
                        রক্তদান স্বাস্থ্যের জন্য অত্যন্ত উপকারী। রক্তদান করার সঙ্গে সঙ্গে শরীরের মধ্যে অবস্থিত ‘বোন ম্যারো’ নতুন কণিকা তৈরির জন্য উদ্দীপ্ত হয় এবং রক্তদানের ২ সপ্তাহের মধ্যে নতুন রক্তকণিকার জন্ম হয়ে ঘাটতি পূরণ হয়ে যায়। বছরে ৩ বার রক্তদান আপনার শরীরে লোহিত কণিকাগুলোর প্রাণবন্ততা বাড়িয়ে তোলার সাথে সাথে নতুন কণিকা তৈরির হার বাড়িয়ে দেয়। উল্লেখ্য রক্তদান করার মাত্র ৪৮ ঘণ্টার মধ্যেই দেহে রক্তের পরিমাণ স্বাভাবিক হয়ে যায়।[২]
                        নিয়মিত রক্তদান করলে হৃদরোগ ও হার্ট অ্যাটাকের ঝুঁকি অনেকটাই কমে যায়।[৩]
                        আরেক গবেষণায় দেখা যায়, যারা বছরে দুই বার রক্ত দেয়, অন্যদের তুলনায় তাদের ক্যান্সারে আক্রান্ত হওয়ার ঝুঁকি কম থাকে। বিশেষ করে ফুসফুস, লিভার, কোলন, পাকস্থলী ও গলার ক্যান্সারের ঝুঁকি নিয়মিত রক্তদাতাদের ক্ষেত্রে অনেক কম পরিলক্ষিত হয়েছে। চার বছর ধরে ১২০০ লোকের ওপর এ গবেষণা চালানো হয়েছিলো।[২]
                        নিয়মিত স্বেচ্ছায় রক্তদানের মাধ্যমে নিজের শরীরে বড় কোনো রোগ আছে কিনা তা বিনা খরচে জানা যায়। যেমন : হেপাটাইটিস-বি, হেপাটাইটিস-সি, সিফিলিস, এইচআইভি (এইডস) ইত্যাদি।[৩]....   <a href="#">Read more</a>

                    
                    </p>
                </div>
          
    </section>

    <section class="tables">
    
        <div class="table">

            <table>
                <tr>
                  <th>If your blood is</th>
                  <th>You can give to </th>
                  <th>You can recive from</th>
                 </tr>
                <tr>
                    <td>O+ (Positive)</td>   
                    <td>O+ A+ AB+</td>  
                    <td>O+ O-</td>        
               
                </tr>

                <tr>
                   
                  
                    <td>A+ (Positive)</td> 
                    <td>A+ AB+ </td>
                    <td>A+ A- O+ O-</td>       
               
                </tr>

                <tr>
                    <td>B+ (Positive)</td>
                    <td>B+ AB+ </td> 
                    <td>B+ B- O+ O-</td>   
               
                </tr>
                <tr>
                    <td>AB+ (Positive)</td>   
                    <td>AB+ Only </td>   
                    <td>All blood type</td>    
               
                </tr>
               
              
              
              
               
              
              
               
               <tr>
                    <td>O- (Negative)</td>
                    <td>All blood type </td>
                    <td>O- only</td> 
               
                </tr>
                <tr>
                    <td>A- (Negative)</td>
                    <td>A- A+ AB+ AB- </td>
                    <td>A- O-</td>   
               
                </tr>
                <tr>
                    <td>B-(Negative)</td>
                    <td>B- B+ AB+ AB-</td>
                    <td>B- O-</td>     
               
                </tr>
                <tr>
                    <td>AB- (Negative)</td>
                    <td>AB- AB+</td>
                    <td>AB- A- B- O-</td>   
               
                </tr>
              </table>
        </div>
          
    </section>
</main>

<footer class="footer">
    <hr>
    <p> © Copyright 2021. All Rights Reserved.
        This site is<br> Powered by <b>Md Shahariar Alom</b></p>
</footer>
</body>
</html>