<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/bloodcontect.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
</head>
<body>
   <header class="headers">
        <div class="logos">
            <img src="../public/images/p3.png">
            <h3>Blood Donote</h3>
        </div>
        <div class="navber">
            <nav>
                <ul>
                    <li><a href="/blood/home" class="color">Home</a></li>
                    <li><a href="/blood/donorlist">Donor list</a></li>
                    <li><a href="/blood/creatnewdonor">Donote</a></li>
                    <li><a href="/blood/contectus">Contect</a></li>
                    <li><a href="/blood/aboutus">About us</a></li>
                </ul>
            </nav>
        </div>
   </header>
 <main>
    <div class="form-aline">
           <div class="form-images">
           <img class="form-image" src="../public/images/p4.png" alt="">
          </div>
          <div class="form-controlle">
              <div class="heading">
                  <h3>Contect</h3>
              </div>
              <div class="inputs">

                    <form action="/blood/contectus" method="POST">
                      <label for="fname">Full Name</label>
                      <input type="text" class="inpu" id="fname" name="name" placeholder="Enter your full name">
                      <br>
                      <label for="lname">Email</label>
                      <input type="text" class="inpu" id="lname" name="email" placeholder="Enter your email">
                      <br>
                      <label for="lname">Body</label>
                      <textarea  class="inpu"  name="textareas" placeholder="This is body........."
                      ></textarea> 
                    
                      <br>
                      <input type="submit" value="Send">
                    </form>
            
              </div>
        </div>
    </div>
</main>

<footer class="footer">
    <hr>
    <p> © Copyright 2021. All Rights Reserved.
        This site is<br> Powered by <b>Md Shahariar Alom</b></p>
</footer>
</body>
</html>