<html>
    <head>
        <title>
           Boostrap
        </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>
<body> 
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>     
    <div>
        <nav class="navbar  navbar-md navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon "></span>
            </button>
          
            <div class="collapse navbar-collapse " id="navbarTogglerDemo02" >
              <ul class="navbar-nav mr-5 mt-2 mt-lg-0 ml-auto">
                <li class="nav-item active">
                  <a class="nav-link mr-5" href="#">Home  <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mr-5" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mr-5 disabled" href="#">Disabled</a>
                </li>
              </ul>
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>
            </div>
          </nav>
    </div>

    <div class="container ml-5 mt-5">
        <div class="row">
            <div class="col-lg-4 col-sm-12">
                <h2>Shahariar alom</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi laboriosam explicabo earum eveniet, magni, magnam facilis placeat ex sapiente,
                     exercitationem doloribus molestias recusandae amet! In ea vitae nulla sint illo!</p>
                <button type="button" class="btn btn-info mt-5">info</button>
            </div>
            <div class="col-lg-4 col-sm-12">
                <h2>Shakibull alom</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident iusto nobis, est sed distinctio tenetur voluptas, quo tempora voluptate asperiores
                     assumenda officia dolorum incidunt vero ullam placeat consectetur, illum accusantium.</p>
                <button type="button" class="btn btn-info mt-5">info</button>
            </div>
            <div class="col-lg-4 col-sm-12 ">
                <h2 class="text-success">MD Ashik Islam</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat eos repellendus excepturi tenetur. Quia repudiandae dolor provident nihil, accusamus impedit officia ipsam saepe amet 
                    blanditiis hic nobis facilis dolores mollitia!</p>
                <button type="button" class="btn btn-info mt-5">info</button>
            </div>
             
        </div>
    </div>


    
   <button type="button" class="btn btn-primary mt-5 ml-5">Submite</button>
   <button type="button" class="btn btn-outline-secondary mt-5">secondary</button>
   <button type="button" class="btn btn-success mt-5">success</button>
   <button type="button" class="btn btn-danger mt-5">danger</button>
   <button type="button" class="btn btn-warning mt-5">warning</button>
   <button type="button" class="btn btn-info mt-5">info</button>

   <div class="mt-5 ">
    <button type="button" class="btn btn-success  ml-5" aria-pressed="true">success</button>
    <button type="button" class="btn btn-success ml-5">success</button>
    <button type="button" class="btn btn-success ml-5">success</button>
    <button type="button" class="btn btn-success ml-5">success</button>
    <button type="button" class="btn btn-danger ml-5" onclick="myFunction()">success</button>
   </div>
        <div id="div5">
            <p id="p2">
                <h1>lorem Discription</h1>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi consequatur pariatur similique incidunt! Ut similique sit reprehenderit, eum, laboriosam eligendi 
                voluptatem dolores praesentium labore, exercitationem totam in nulla illo nisi.
            </p>
            <p id="p3">
             <h1>lorem Discription</h1>
             Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae, 
             ipsum, est sint eum nobis enim tenetur dolor illum aperiam dolorem eius obcaecati rerum esse? Labore obcaecati quo corporis blanditiis voluptate.
            </p>
        </div>
   </div>
   <script src="/public/Javascript/bloodhome.js"></script>
</body>
</html> 